@{
    ViewBag.Title = "Lecturer Dashboard";
}

<div class="text-center my-5">
    <h2>Lecturer Dashboard</h2>
    <p class="lead">Manage your claims and track their status</p>
</div>


<div class="row justify-content-center mb-5">
    <div class="col-md-3">
        <a href="@Url.Action("SubmitClaim","Lecturer")" class="btn btn-success btn-block btn-lg">
            <i class="fas fa-file-upload"></i> Submit New Claim
        </a>
    </div>
    <div class="col-md-3">
        <a href="#" class="btn btn-center btn-block btn-lg">
            <i class="fas fa-upload"></i> Upload Documents
        </a>
    </div>
</div>


<div class="card">
    <div class="card-header bg-#C1E1C1-500 text-white">
        Claim Status Tracker
    </div>
    <div class="card-body">
        <ul class="list-group">
           @foreach(var claim in Model)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">  
                    Claim #@claim.ClaimId: @claim.hoursWorked hours worked
                    <span class="badge badge-warning badge-pill">@claim.status</span>

                </li>
            }

        </ul>
    </div>
</div>
