@{
    ViewData["Title"] = "Submit Claim";
}

<h3>Submit New Claim</h3>

<form asp-action="SubmitClaim" method="post"enctype="multipart/form-data">

    <div class="form-group">
        <label for="lecturerName">Lecturer Name</label>
        <input type="text" class="form-control" id="lecturerName" name="lecturerName" value="John Doe" placeholder="Enter lecturer name" required />
    </div>

    <div class="form-group">
        <label for="hoursWorked">Hours Worked</label>
        <input type="number" class="form-control" id="hoursWorked" name="hoursWorked" placeholder="Enter hours worked" required />
    </div>
    <div class="form-group">
        <label for="hourlyRate">Hourly Rate</label>
        <input type="number" class="form-control" id="hourlyRate" name="hourlyRate" placeholder="Enter the hourly rate" required />
    </div>
    <div class="form-group">
        <label for="claimAmount">Claim Amount</label>
        <input type="text" class="form-control" id="claimAmount" placeholder="Calculates claim amount" required />
    </div>
    <div class="form-group">
        <label for="supportingDocuments">Upload Supporting Documents</label>
        <input type="file" class="form-control" id="supportingDocuments" accept=".pdf, .jpg, .png" />
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

<script>
    document.getElementById('hoursWorked').onchange = calculateClaim;
    document.getElementById('hourlyRate').onchange = calculateClaim;

    function calculateClaim() { 
        var hours = parseFloat(document.getElementById('hoursWorked').value) ||0;
        var rate = parseFloat(document.getElementById('hourlyRate').value) || 0;
        document.getElementById('claimAmount').value = "$" + (hours * rate).toFixed(2);
    }
</script>

