{
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Body Styling */
body {
    margin-bottom: 60px;
    background-color: #E2EFD9; 
    color: #4B5320; 
}

/* Button focus styles */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Margin utility class */
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

/* Button hover effect */
.btn-lg:hover, .btn-sm:hover {
    opacity: 0.85;
    transition: opacity 0.2s ease-in-out;
}

/* Large buttons styling */
.btn-lg {
    background-color: #6C8E3E; 
    border-color: #6C8E3E;
}

    .btn-lg:hover {
        background-color: #556B2F; 
    }

/* Primary and Info buttons */
.btn-primary, .btn-info {
    background-color: #6C8E3E; 
    border-color: #6C8E3E;
}

    .btn-primary:hover, .btn-info:hover {
        background-color: #556B2F; 
        border-color: #556B2F;
    }

/* Card Styling */
.card {
    margin-top: 2rem;
    background-color: #F4F1DE;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
}

.card-header {
    background-color: #4B5320; 
    color: white;
}

/* Table Header and Hover Effect */
.table thead th {
    background-color: #6C8E3E;
    color: white;
}

.table-hover tbody tr:hover {
    background-color: #DDEEC3; 
}

/* Modal Styling */
.modal-header {
    background-color: #6C8E3E;
    color: white;
}

.modal-footer .btn-success {
    background-color: #6C8E3E;
    border-color: #6C8E3E;
}

.modal-footer .btn-danger {
    background-color: #6C8E3E;
    border-color: #6C8E3E;
}

/* Footer Styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}


a {
    color: #4B5320;
}
    a:hover {
        color: #556B2F; 
    }
            


h1, h2, h3, h4, h6 {
    color: #4B5320 !important; 
}

h5{
    color: #f8f9fa !important; 

}

.dashboard h2 {
    color: #4B5320; 
}


.table thead th {
    background-color: #6C8E3E !important;
    color: white !important;
}


.table-hover tbody tr:hover {
    background-color: #DDEEC3 !important; 
}

.dashboard .table thead th {
    background-color: #6C8E3E !important;
    color: white !important;
}

.dashboard .table-striped tbody tr:nth-of-type(odd) {
    background-color: #F4F1DE; 
}

.dashboard .table-striped tbody tr:nth-of-type(even) {
    background-color: #E2EFD9; 
}

